#navbar{
    height: 39px;
    z-index: 0;
    display: flex;
    float: none;
    overflow: hidden;
    white-space:nowrap;
    background-color: rgb(35, 47, 62);
    height: 39px;
    width: 100%;
}
ul.nb{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nb li{
    display: inline;
}
a.navbuttonsmallall{
    float: left;
    background-color: transparent;
    color: white;
    font-family: "Amazon Ember", Arial, sans-serif;
    border-style: solid;
    border-color: transparent;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 15px;
    padding-left: 9px;
    padding-right: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    border-width: 1px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    flex-flow: row nowrap;
    width: auto;
    cursor: pointer;
}
a.navbuttonsmallall:hover{
    border-color: white;
}
a.navbuttonsmallall img{
    float: left;
    height: 14px;
    width: 16px;
    padding-right: 5px;
    padding-top: -10px;
}
a.navbuttonsmall{
    float: left;
    background-color: transparent;
    color: white;
    font-family: "Amazon Ember", Arial, sans-serif;
    border-style: solid;
    border-color: transparent;
    margin-top: 5px;
    margin-bottom: 6px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    border-width: 1px;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
a.navbuttonsmall:hover{
    border-color: white;
}
a.navbuttonbig{
    position: absolute;
    right: 0px;
    background-color: transparent;
    color: white;
    font-family: "Amazon Ember", Arial, sans-serif;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    height: 24px;
    width: auto;
    text-align: right;
    border-radius: 2px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-right: 14px;
    overflow: hidden;
    cursor: pointer;
}
a.navbuttonbig:hover{
    border-color: white;
    
}
#menubackground{
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: black;
    opacity: 60%;
    display: none;
    position: absolute;
}
#menu{
    z-index: 3;
    position: absolute;
    left: 0px;
    width: 365px;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.25s;
    &.hidefirstmenu{
        left: -365px;
    }
}
#closemenu{
    z-index: 3;
    position: absolute;
    top: 21px;
    left: 375px;
    width: 20px;
    background-color: transparent;
    display: none;
    font-size: 20px;
    cursor: pointer;
}
#closemenu img{
    height: 18px;
}
#secondmenu{
    z-index: 3;
    position: absolute;
    left: 365px;
    width: 365px;
    height: 100%;
    background-color: white;
    transition: left 0.25s;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.25s;
    &.showsecmenu{
        left: 0px;
    }
}
#menubox{
    z-index: 3;
    position: absolute;
    left: -365px;
    width: 365px;
    height: 100%;
    background-color: white;
    transition: left 0.25s;
    overflow: hidden;
    &.showmenu {
        left: 0px;
    }
}
a.menubutton{
    width: 348px;
    height: 42px;
    padding-bottom: 2px;
    display: block;
}

